.luftdaten-services-block {
    padding: 20px;
    border: 1px dashed #ccc;
    border-radius: 4px;
}

.luftdaten-services-preview h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
}

.luftdaten-services-preview p {
    color: #666;
    font-size: 14px;
}

